body {
	background-color: #92ddd3;
	font-family: Lato, Arial, Helvetica, sans-serif;
	color: #1B515E;
}

#container {
	margin-left: auto;
	margin-right: auto;
	background-color: #92ddd3;
	width: 80%;
}


#photocontainer, #logo {
	width: 100%;
}

#photocontainer {
	border: 2px solid #98618c;
}

h1, {
	font-family: "hwt-artz", Arial, Helvetica, sans-serif;
	font-size: 300%;
	text-align: center;
}

h2 {
	font-family: "coquette", Lato, Arial, Helvetica, sans-serif;
	font-size: 200%;
}

h1,
h2 {
	color: #98618c;
}

.collapsed.expander::before {
	content: "\25B8";
}

.expanded.expander::before {
	content: "\25BE";
}


@media all and (min-width: 700px) {
	body {
		background-image: url("../img/purpleshapes.png");
	}

	#logo {
		display: block;
		width: 70%;
		margin-left: auto;
		margin-right: auto;
	}

	#photocontainer {
		width: 30%;
		float: right;
		margin: 2em;
	}

	#container {
		width: 50%;
		padding: 2em;
	}
}

@media all and (min-width: 400px) and (max-width: 700px) {
	#photocontainer {
		width: 60%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

}